/*


@tailwind base;
@tailwind components;
@tailwind utilities;

*/

/* src/index.css */

/* Force light mode */
:root {
  color-scheme: only light !important;
}

html, body {
  color-scheme: only light !important;
  background: white !important;
  color: #000 !important;
}

* {
  color-scheme: only light !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}